.header{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.header .logo{
    height: 100%; 
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo img {
    width: 60%;
}